.row {
    margin: 0px;
    padding: 0px;
}

#lDaoHang {
    width: 100%;
}

div.lWrapper {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 5px 0px 5px 5px;
    border: 1px solid blueviolet;
}

.lLink {
    display: table-cell;
    text-align: center;
    width: 25px;
    height: 25px;
    border: 0px solid red;   
}

a.lLink {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

a.lLink:hover {
    background-color: gainsboro;
}

.lHeader {
    width: 100%;
    height: 25px;
    background-color: gainsboro;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: orangered;
}

.current {
    color: orangered;
}

.font-bold {
    font-weight: bold;
}

ul.uTree {
    list-style: none;
    list-style-position: inside;
    border: 0px solid green;
    margin: 0px;
    padding: 0px;
}

ul.uTree li {
    margin-left: 10px;
}

ul.uTree li a {
    text-decoration: none;
}

ul.uTree li dl {
    margin-left: 30px;
}

ul.uTree li dl dd {
    margin-bottom: 5px;
}

ul.uTree li dl dd a {
    font-size: 14px;
    color: black;
}


ul.uTree li dl dd a:hover {
    color: orangered;
}

ul.uTree li dl dd a:link {
   
}

em {
    color: grey;
    font-size: 0.8em;
    margin-left: 5px;
}

.iconShow {
    background-image: url(../images/show.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 9px;
    width: 9px;
    border: 0px solid red;
    margin-right: 10px;
}

.iconHide {
    background-image: url(../images/hide.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 9px;
    width: 9px;
    border: 0px solid red;
    margin-right: 10px;
}